node_modules/
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
*.keystore
!debug.keystore
.buck/
buck-out/
\.buckd/
*.iml
.idea/
.classpath
.project
.settings
local.properties
*.log
.env
